@charset "UTF-8";
/*属性嵌套*/
/*4.1. 嵌套规则 (Nested Rules)*/
#main p {
  color: #00ff00;
  width: 97%;
}
#main p .red-box {
  background-color: #ff0000;
  color: #000000;
}

/*4.2. 父选择器 & (Referencing Parent Selectors: &)*/
a {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body.firefox a {
  font-weight: normal;
}

#main {
  color: black;
}
#main-sidebar {
  border: 1px solid;
}

/*4.3. 属性嵌套 (Nested Properties)*/
.funky {
  font-family: fantasy;
  font-size: 30em;
  font-weight: bold;
}
